* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../photos/pen.jpg");
  font-family: Arial;
}

.nav {
  background-color: #7e6651;
  overflow: hidden;
  top: 0;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav li {
  list-style: none;
}

.left li,
.right li {
  display: inline-block;
  margin: 0px 10px 0px;
}

.left,
.right {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0px 25px;
}

.left {
  padding: 10px 40px;
}

.logo h4 {
  font-weight: bold;
  font-size: 30px;
  font-family: Arial;
  margin: 0px 10px 0px;
}

.logo h4:hover {
  color: #fff298;
  cursor: pointer;
  transition-duration: 0.5s;
}

.nav a {
  color: #f6e2b3;
  text-align: center;
  padding: 15px 10px;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.3s;
}

.nav li a:hover {
  background-color: #ff8daa;
  color: white;
}

.nav a.active {
  background-color: #fdaeae;
  color: white;
}

.side {
  display: none;
}

.main {
  display: flex;
  justify-content: space-around;
  margin: 150px 100px;
  width: auto;
}

.info {
  margin-top: 10px;
}

.form {
  background-color: rgb(242, 242, 242, 0.75);
  width: 50%;
  height: auto;
  border-radius: 20px;
  padding: 20px;
  margin: 30px;
}

label {
  font-size: 20px;
  display: inline-block;
}

::-webkit-input-placeholder {
  font-size: 15px;
  font-family: Arial;
  letter-spacing: 1px;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  margin: 10px 20px 10px 0px;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #7e6651;
  border-radius: 4px;
}

input[type="submit"],
input[type="reset"] {
  border: none;
  background-color: #7e6651;
  color: #f6e2b3;
  padding: 15px 30px;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  margin-top: 10px;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #ff8daa;
  color: white;
  transition-duration: 0.3s;
}

input[type="submit"] {
  border-radius: 0px 0px 10px 0px;
}

input[type="reset"] {
  border-radius: 0px 0px 0px 10px;
}

.options {
  display: flex;
  justify-content: space-between;
  flex-flow: row-reverse;
}

textarea {
  width: 100%;
  height: 200px;
  padding: 5px 10px;
  border: 2px solid #7e6651;
  border-radius: 4px;
  resize: none;
  font-family: Arial;
  margin-top: 5px;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border: 4px solid #ff8daa;
  border-radius: 0px;
  background-color: rgb(255, 255, 255, 0.5);
  transition-duration: 0.3s;
}

.form h2,
.text h2 {
  font-size: 50px;
  letter-spacing: 5px;
  text-align: center;
}

.text {
  width: 50%;
  height: auto;
  padding: 20px;
  margin: 30px;
}

.text p {
  font-size: 25px;
  line-height: 40px;
  text-indent: 2em;
  text-align: justify;
  padding: 10px;
}

@media only screen and (max-width: 1365px) {
  .logo h4 {
    font-size: 30px;
    margin: 0px 10px 0px;
  }

  .left ul {
    display: none;
  }

  .right {
    padding: 10px 0px;
  }

  .nav {
    justify-content: flex-start;
  }

  .side {
    display: inline-block;
    margin: 0px 0px 0px auto;
    position: absolute;
    right: 0;
    top: 0;
    position: fixed;
  }

  .drop-content {
    display: none;
    z-index: 1;
    position: relative;
    background-color: #7e6651;
    color: #f6e2b3;
    font-family: Arial;
  }

  .drop-content a {
    text-decoration: none;
    color: #f6e2b3;
    padding: 14px 15px;
    font-size: 20px;
    text-align: center;
  }

  .drop-button {
    margin: 0px;
    color: #f6e2b3;
    background-color: #7e6651;
    border: none;
    padding: 14px 40px;
    font-size: 20px;
  }

  .side:hover .drop-content {
    display: flex;
    flex-direction: column;
  }

  .drop-button:hover,
  .drop-content a:hover {
    background-color: #ff8daa;
    cursor: pointer;
    color: white;
  }

  .side a.active {
    background-color: #fdaeae;
    color: white;
  }

  .main {
    margin: 150px 20px;
  }

  .text,
  .form {
    margin: 30px;
  }

  .text h2,
  .form h2 {
    font-size: 45px;
    letter-spacing: 3px;
  }

  .text p {
    font-size: 23px;
  }

  .text {
    color: #fafafa;
  }
}

@media only screen and (max-width: 812px) {
  .main {
    flex-direction: column;
    justify-content: space-around;
    margin: 150px 34px;
  }

  .text,
  .form {
    width: 100%;
    margin: 50px 0px;
  }

  body {
    width: 175%;
  }

  .text p {
    font-size: 30px;
    padding: 25px;
  }

  .text h2,
  .form h2 {
    font-size: 50px;
  }

  label {
    font-size: 25px;
  }

  ::-webkit-input-placeholder {
    font-size: 18px;
    letter-spacing: 1.5px;
  }
}

@media only screen and (max-width: 400px) {
  body {
    width: 200%;
  }
}
